/*style for best_burgers_area*/
.container{
  padding: 1% 0%;
}
/*for paragraph and fir h3*/
.burgertitle {
  text-align: center;
  color: #F2C64D;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 18px;
  display: block;
  font-family: "Pacifico", cursive;
}
.bigheading{
  text-align: center;
  line-height: 42px;
  font-size: 50px;
  font-weight: 700;
  color: #1A0D01;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom:80px;
}
/*for image and text*/
.burger-contents{
display: flex;
margin-top:px;
padding: 4% 2%;
}
.try{
  text-align: block;
  margin-right: 50px;
  padding:3% 0%;
}
.try p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4D4D4D;
    margin-right:;
    font-family: 'Raleway', sans-serif;
}
.try h3{
    font-size: 30px;
    color: #1A0D01;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-right:;
}
.try .pound-sign{
  margin-right:;
  font-weight: 700;
  font-size: 24px;
  color: #F0542C;
  font-family: "Montserrat", sans-serif;
}
/*the more items styling*/
.callToAction:hover{
  background-color:#F0542C;
  color: #fff !important;
}
.boxed-btn{

    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    text-transform: capitalize;
    padding: 22px 44px;
    cursor: pointer;
    background: transparent;
}

.callToAction{
  width:100%;
  height: 10%;
  margin-top: 60px;
  border-radius:50px;
  border: 1px solid #F0542C;
  text-align: center;
  color: #F0542C ;
}
/*responsiness with mediaqury*/
@media only screen and (min-width:567px) and (max-width:900px)  {

  .try{
    text-align: left;
    margin-left: 70px;
  }
  .image{
      margin-left: 120px;
  }
  .col-lg-6{
    display:block;
  }
}
.try h3{
  font-size: 30px;
    color: #1A0D01;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-left: 20px;
}
  .try p{
    font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      color: #4D4D4D;
      margin-left:20px;
      font-family: 'Raleway', sans-serif;
  }
  .burger-contents{
    margin-top:0px;
  }



   /* Footer Section */

footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #F5FBFF;
  background-image: url(../images/banner/footer_bg.png);
  text-align: center;
  color: #6E6E6E;
  margin-top: 20px;
}
.footer-top{
  padding: 80px 80px;
}

footer a{
  text-decoration: none;
  color: #6E6E6E;
}

footer .title{
  font-weight: bold;
  margin-bottom: 30px;
  color: black;
}
footer .address{
  margin-bottom: 30px;
  padding: 0 60px;
}

footer .description{
  padding: 0 20px;
}

footer .no {
  color: #F0542C;
  font-size: 1.4rem;
  font-weight: bold;
}

footer .newsletter{
  text-align: left;
}

.newsletter-form {
  border: 1px solid #E8E8E8;
  width: 100%;
  border-radius: 30px;
  padding: 2px;
  margin-bottom: 20px;
}


footer input[type="text"] {
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 30px;
  background: #F5FBFF;
}
footer .submit {
  background: #F0542C;
  border: none;
  width: 28%;
  height: 42px;
  border-radius: 30px;
  font-weight: bold;

}

footer .social-icon ul li{
  display: inline-block;
  font-size: 20px;
  list-style: none;
  text-align: center;
  margin-top: 50px;
 
}
footer .social-icon ul li{

  padding: 0 5px;
  
}
.social-icon ul li a {
  border: 1px dashed #F0542C;
  border-radius: 50%;
  color: #F0542C;
  padding: 10px 15px;
  
}


.social-icon ul .f-icon a {
   padding: 10px 18px;  /* for facebook icon only */
}

.social-icon ul .g-icon a {
  padding: 10px 10px; /* for google+ icon only */
}


.social-icon ul li a:hover {
  background: #F0542C !important;
  color: #ffffff;

}
footer .copywrite-blank{
  border-top: 1px solid #6E6E6E;
  margin: 20px 150px;
}  
footer .copywrite{
  padding: 20px 0;
}
.copywrite-desc{
    color: #F0542C;
  
}
