

.carousel{
  margin-bottom: 50%;
}
/* navbar*/
a {
  color:#fff;
}
.dropdown-menu{
  display: none;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  background-color:white ;
}
.drop-link{
  color: white;
}
.drop-link:hover {
   color: #F2C64D !important;
  border-bottom: 2px solid  #F2C64D;
}
.drop-link:active a{
  color:  #F2C64D !important;
  border-bottom: 2px solid  #F2C64D;
}
.fa{
  color: #fff;
}
.fa:hover{
 color:#F2C64D;
}
.btn{
  border-radius: 25px !important;
  margin-left: 5px;
}
.btn:hover{
  color:#F2C64D ;
  color: white !important;
}
.contact-link{
  padding-left:30px !important;
  margin-right: 60px !important;
}
.img-logo{
  width:150px !important;
  padding-top: -5px !important;
  margin-left: 100px;
}
.navbar-toggler{
  float: right;
}
.title-text p {
    text-align: center;
    color: #F2C64D;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 18px;
    display: block;
    font-family: "Pacifico", cursive;
}
.title-text h3 {
  text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #1A0D01;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.image{
  width:166px;
  height: 166px
}
table p{
  font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4D4D4D;
    margin-bottom: 13px;
    font-family: 'Raleway', sans-serif;
}

table h3 {
  font-size: 30px;
    color: #1A0D01;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
nav{
  position: relative;

}
.carousel-inner{

  position: absolute;
  top: 0;
  z-index: -1;
}

  /*header slider*/
  .slider-area{
    position: relative;
    z-index: 0;
  }


  /*for texts in the banner*/
  .carousel-caption {
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    bottom: initial;
  }

  .slider-text .deal-text {
background-image: url(../images/shape/1.png);
    background- repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 18px 42px;
  }

  .slider-text .deal-text span {
    font-size: 20px;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    color: #fff;
    padding-top: 50%;
  }

  .slider-text h3 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100px;
    margin-bottom:px;
    color: #fff;
    font-family: "Paytone One", sans-serif;
    margin-top: 0px;
  }

  .slider-text h4 {
    font-size: 140px;
    font-family: "Pacifico", cursive;
    color: #F2C64D;
    position: relative;

    margin-bottom: -150px;
  }

  @media (max-width: 768px){
    .d-md-block {
      display: block;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    height: 120px;
    line-height: 120px;
    top: 180%;
    width: 50px;
    color: #fff;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.2);
  }
/*style for best_burgers_area*/


.main-content{
  padding: 1% 0%;
  background-color: #fff;

}
/*for paragraph and fir h3*/
.burgertitle {
  text-align: center;
  color: #F2C64D;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 18px;
  display: block;
  font-family: "Pacifico", cursive;
}
.bigheading{
  text-align: center;
  line-height: 42px;
  font-size: 50px;
  font-weight: 700;
  color: #1A0D01;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom:80px;
}
/*for image and text*/

.burger-contents{
display: flex;
padding: 1% 2%;
}

.textArea{
  text-align: block;
  margin-left: 20px;
  padding:3% 3%;
}
.textArea p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4D4D4D;
    font-family: 'Raleway', sans-serif;
}
.textArea h3{
    font-size: 30px;
    color: #1A0D01;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-right:;
}
.textArea .pound-sign{
  margin-right:;
  font-weight: 700;
  font-size: 24px;
  color: #F0542C;
  font-family: "Montserrat", sans-serif;
}
/*the more items styling*/
.callToAction:hover{
  background-color:#F0542C;
  color: #fff !important;
}
.boxed-btn{

    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    text-transform: capitalize;
    padding: 22px 44px;
    cursor: pointer;
    background: transparent;
}

.callToAction{
  width:100%;
  height: 10%;
  margin-top: 60px;
  border-radius:50px;
  border: 1px solid #F0542C;
  text-align: center;
  color: #F0542C ;
}
/*responsiness with mediaqury*/

@media screen and (max-device-width:768px), screen and (max-width:768px) {
  .burger-contents{
    display: block;
  }
  .image{
    margin-left:30px;
  }
  .boxed-btn{
    padding: 2%;
  }
  .callToAction{
    width: 700px;
    height: 50px;
    margin-left: 40px;
  }
  .wrapperimg{
    width:200px;
  }
}

/* burgerpresident section */
.bpresident{
  background-image: url(../images/burgers/1.png);
  background- repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  padding: 18px 42px;
  height:500px;
  width: 600px;
  }
  .bpresident h3{
    color:#fff;
  }
  .dollar{
    color: #F0542C ;
  }

  .bpresident2{
    background-image: url(../images/burgers/2.png);
    background- repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 18px 42px;
    height:500px;
    width: 600px;
    }
    .bpresident h3{
      color:#fff;
    }
    .dollar{
      color: #F0542C ;
    }


/* aboutus section */
.aboutusstn{
    padding: 6% 8%;
}
.wrapperimg{
  position:absolute;
  z-index: -1;
  width:550px;

}
.wrapperimg2{
  width: 330px;
position: relative;
  margin-left:48%;
  padding-top:51% ;
z-index: 1;
}
.aboutus h3{
  padding: 2% 15%;
    color: #F2C64D;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 18px;
    display: block;
    font-family: "Pacifico", cursive;
}
.aboutus h2{
  padding: 2% 15%;
  display: block;
  font-size: 50px;
  line-height: 42px;
    font-weight: 700;
    color: #1A0D01;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.aboutus p{
  padding: 2% 15%;
font-size: 16px;
line-height: 28px;
margin-top: 0;
margin-bottom: 37px;
font-weight: 300;
font-family: "Raleway",sans-serif;

}



/*responsiness with mediaqury*/
@media only screen and (min-width:567px) and (max-width:900px)  {

  .contact-link{
      display: none !important;
  }
  .img-logo{
      width:70px !important;
      position: absolute;
      top:2px;
      left:5px;
  }



  .try{
    text-align: left;
    margin-left: 70px;
  }
  .image{
      margin-left: 120px;
  }
  .col-lg-6{
    display:block;
  }
}
.try h3{
  font-size: 30px;
    color: #1A0D01;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-left: 20px;
}
  .try p{
    font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      color: #4D4D4D;
      margin-left:20px;
      font-family: 'Raleway', sans-serif;
  }
  .burger-contents{
    margin-top:0px;
  }



   /* Footer Section */

footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #F5FBFF;
  background-image: url(../images/banner/footer_bg.png);
  text-align: center;
  color: #6E6E6E;
  margin-top: 20px;
}
.footer-top{
  padding: 80px 80px;
}

footer a{
  text-decoration: none;
  color: #6E6E6E;
}

footer .title{
  font-weight: bold;
  margin-bottom: 30px;
  color: black;
}
footer .address{
  margin-bottom: 30px;
  padding: 0 60px;
}

footer .description{
  padding: 0 20px;
}

footer .no {
  color: #F0542C;
  font-size: 1.4rem;
  font-weight: bold;
}

footer .newsletter{
  text-align: left;
}

.newsletter-form {
  border: 1px solid #E8E8E8;
  width: 100%;
  border-radius: 30px;
  padding: 2px;
  margin-bottom: 20px;
}


footer input[type="text"] {
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 30px;
  background: #F5FBFF;
}
footer .submit {
  background: #F0542C;
  border: none;
  width: 28%;
  height: 42px;
  border-radius: 30px;
  font-weight: bold;

}

footer .social-icon ul li{
  display: inline-block;
  font-size: 20px;
  list-style: none;
  text-align: center;
  margin-top: 50px;
 
}
footer .social-icon ul li{

  padding: 0 5px;
  
}
.social-icon ul li a {
  border: 1px dashed #F0542C;
  border-radius: 50%;
  color: #F0542C;
  padding: 10px 15px;
  
}


.social-icon ul .f-icon a {
   padding: 10px 18px;  /* for facebook icon only */
}

.social-icon ul .g-icon a {
  padding: 10px 10px; /* for google+ icon only */
}


.social-icon ul li a:hover {
  background: #F0542C !important;
  color: #ffffff;

}
footer .copywrite-blank{
  border-top: 1px solid #6E6E6E;
  margin: 20px 150px;
}  
footer .copywrite{
  padding: 20px 0;
}
.copywrite-desc{
    color: #F0542C;
  
}
